
body {
    background: linear-gradient(30deg, rgb(192, 247, 255), purple);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    
}

video {
    width: 40%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 17px;
    transform: translateY(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}


.box {
    background: linear-gradient(to left, rgb(192, 243,255), purple);
    width: 50%; 
    max-width: 500px;
    height: auto;
    margin: 40px auto;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 30px;

    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: comicsansms, cursive, sans-serif;
    font-size: 2.5rem;
    flex-wrap: wrap;
}
    
.box {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {transform: translateY(-40px);}
    50% {transform: translateY(-60px);}
    100% {transform: translateY(-40px);}
}

.message {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;  
}

.six {
    width: 35%;
    max-width: 500px;
    height: auto;
    flex-wrap: wrap;


    display: flex;
    justify-content: center;
    margin: 50px auto;
    gap: 5px;
   
}